<md-content layout-padding>

	<form name="settingsForm">
	
		<h3>Settings</h3>

		<div layout="column">

			<md-input-container flex="100" layout="row">
				<label>Only record requests with the following <strong>content-type</strong> headers (divide with a space)</label>
				<input ng-model="settings.data.contentTypesToRecord">
			</md-input-container>

			<md-input-container flex="100" layout="row">
				<label>Ignore the following <strong>response</strong> headers (divide with a space)</label>
				<input ng-model="settings.data.responseHeadersToIgnore">
			</md-input-container>

			<md-input-container flex="100" layout="row">
				<label>Ignore the following <strong>request</strong> headers (divide with a space)</label>
				<input ng-model="settings.data.requestHeadersToIgnore">
			</md-input-container>

		</div>

	</form>

</md-content>